<h3>Votre mot de passe a été récupéré</h3>
<p>
  <h4>Vos nouvelles informations</h4>
    - Nom d'utilisateur : <%= @user.username %>
    - Adresse Email : <%= @user.email %>
    - Mot de passe : <b><i><%= @passwd %></i></b>
</p>