<li><%= tab_yield t('auth.register'), new_user_url %></li>
<% unless logged_in_user.nil?  %>
<li><%= tab_yield "Edit Account", edit_user_url(logged_in_user.id) %></li>
<li><%= tab_yield "My account", url_for(:action => "show", :only_path => false) %></li>
<% end %>

