#nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1em;
}

#nav a{
display:block;
padding:0px 0px;
color:#fff;
text-decoration:none;
}

#nav a:hover{
background-color:#fff;
color:#333;
}

#nav li{
float:left;
position:relative;
margin-right: 15px;
}

#nav ul {
position:absolute;
display:none;
top:40px;
z-index:100;
}

#nav li ul a{
width:200px;
float:left;
background-color:#fff;
}
#nav li ul a:hover{
 width:200px;
 color: #fff;
 background-color:#73A5C0;
}
#nav ul li{
  border:0;
  border-bottom: 1px solid #ccc;
}

#nav ul ul{
top:auto;
}

#nav li ul ul {
margin:0px 0 0 0px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none; 
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}

#nav li:hover ul{background:#888;border-right:1px solid #666; border-left:1px solid #666; border-top:3px solid #5090CE; border-bottom:2px solid #5090CE; padding:0px; min-width:220px; _width:200px;}
#nav li:hover ul li a{margin-left:0px; color:#333; text-align:left; width:200px; }
#nav li:hover ul li a:hover{color:#fff; text-align:left; width:200px;}
